<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us -travel Co</title>
  <link rel="stylesheet" href="../css/navbar.css">
  <link rel="stylesheet" href="../css/about.css">
  <link rel="stylesheet" href="../css/loader.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

</head>
<body>
    <header class="header">
        <nav class="navbar">
          <h2 class="logo"><a href="#">Travel Co</a></h2>
          <input style="height: 0px; width: 0px;" type="checkbox" id="menu-toggle" />
          <label for="menu-toggle" id="hamburger-btn">
            <svg class="toggle-btn" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
              style="color: white;">
              <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
            </svg>
          </label>
          <ul class="links">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../templates/about.html">About Us</a></li>
            <li><a href="../templates/service.html">Services</a></li>
            <li><a href="../templates/blog.html">Blog</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <div class="buttons">
            <a href="#" class="signin">Sign In</a>
            <a href="#" class="signup">Sign Up</a>
          </div>
        </nav>
      </header>

      <div id="loader">
        <img src="https://i.pinimg.com/originals/83/27/77/83277708d2fc0d0fbe54685581531f7b.gif" alt="">
      </div>

      <section id="about-section">
        <!-- about left  -->
        <div class="about-left">
            <img class="about-us-img" src="../images/about-us-img.png" alt="About Img"/>
        </div>

        <!-- about right  -->
        <div class="about-right">
            <h4>Our Story</h4>
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Debitis fugiat a dolorem at similique maxime dolorum dolore
                enim dicta voluptatibus, illum recusandae, vel optio tempore
                ipsum incidunt eum. Aspernatur, repellendus.
            </p>
            <div class="address">
                <ul>
                    <li>
                        <span class="address-logo">
                            <i class="fas fa-paper-plane"></i>
                        </span>
                        <p>Address</p>
                        <span class="saprater">:</span>
                        <p>Kalol, Gujrat</p>
                    </li>
                    <li>
                        <span class="address-logo">
                            <i class="fas fa-phone-alt"></i>
                        </span>
                        <p>Phone No</p>
                        <span class="saprater">:</span>
                        <p>+91 7777977918</p>
                    </li>
                    <li>
                        <span class="address-logo">
                            <i class="far fa-envelope"></i>
                        </span>
                        <p>Email ID</p>
                        <span class="saprater">:</span>
                        <p>patelsarthak666@gmail.gom</p>
                    </li>
                </ul>
            </div>
            <div class="expertise">
                <h3>Our Travel Expertise</h3>
                <ul>
                    <li>
                        <span class="expertise-logo">
                            <i class="fas fa-plane"></i>
                        </span>
                        <p>Flight Booking</p>
                    </li>
                    <li>
                        <span class="expertise-logo">
                            <i class="fas fa-hotel"></i>
                        </span>
                        <p>Hotel Reservations</p>
                    </li>
                    <li>
                        <span class="expertise-logo">
                            <i class="fas fa-umbrella-beach"></i>
                        </span>
                        <p>Beach Destinations</p>
                    </li>
                    <li>
                        <span class="expertise-logo">
                            <i class="fas fa-mountain"></i>
                        </span>
                        <p>Mountain Adventures</p>
                    </li>
                </ul>
            </div>
            
        </div>
    </section>


    <script src="../js/loader.js"></script>
</body>
</html>