<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog -travel Co</title>
  <link rel="stylesheet" href="../css/loader.css">
  <link rel="stylesheet" href="../css/navbar.css">
  <link rel="stylesheet" href="../css/blog.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>
  <header class="header">
    <nav class="navbar">
      <h2 class="logo"><a href="#">Travel Co</a></h2>
      <input style="height: 0px; width: 0px;" type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" id="hamburger-btn">
        <svg class="toggle-btn" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
          style="color: white;">
          <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
        </svg>
      </label>
      <ul class="links">
        <li><a href="/index.html">Home</a></li>
        <li><a href="../templates/about.html">About Us</a></li>
        <li><a href="../templates/service.html">Services</a></li>
        <li><a href="../templates/blog.html">Blog</a></li>
        <li><a href="../templates/contact.html">Contact Us</a></li>
      </ul>
      <div class="buttons">
        <a href="#" class="signin">Sign In</a>
        <a href="#" class="signup">Sign Up</a>
      </div>
    </nav>
  </header>

  <div id="loader">
    <img src="https://i.pinimg.com/originals/83/27/77/83277708d2fc0d0fbe54685581531f7b.gif" alt="">
  </div>

  <section class="blog-container">
    <article class="blog">
        <img src="../images/destination4.jpg" alt="Blog 1 Image">
        <div class="blog-content">
            <h2>Blog Title 1</h2>
            <p class="blog-date"><i class="fas fa-calendar-alt"></i> March 1, 2023</p>
            <p class="blog-author"><i class="fas fa-user"></i> Author: John Doe</p>
            <p class="blog-description">This is a short description of Blog 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#" class="read-more">Read More <i class="fas fa-arrow-right"></i></a>
        </div>
    </article>

    <article class="blog">
      <img src="../images/destination1.webp" alt="Blog 1 Image">
      <div class="blog-content">
          <h2>Blog Title 1</h2>
          <p class="blog-date"><i class="fas fa-calendar-alt"></i> March 1, 2023</p>
          <p class="blog-author"><i class="fas fa-user"></i> Author: John Doe</p>
          <p class="blog-description">This is a short description of Blog 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="read-more">Read More <i class="fas fa-arrow-right"></i></a>
      </div>
  </article>

  <article class="blog">
    <img src="../images/destination2.webp" alt="Blog 1 Image">
    <div class="blog-content">
        <h2>Blog Title 1</h2>
        <p class="blog-date"><i class="fas fa-calendar-alt"></i> March 1, 2023</p>
        <p class="blog-author"><i class="fas fa-user"></i> Author: John Doe</p>
        <p class="blog-description">This is a short description of Blog 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="#" class="read-more">Read More <i class="fas fa-arrow-right"></i></a>
    </div>
</article>

<article class="blog">
  <img src="../images/destination3.jpg" alt="Blog 1 Image">
  <div class="blog-content">
      <h2>Blog Title 1</h2>
      <p class="blog-date"><i class="fas fa-calendar-alt"></i> March 1, 2023</p>
      <p class="blog-author"><i class="fas fa-user"></i> Author: John Doe</p>
      <p class="blog-description">This is a short description of Blog 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <a href="#" class="read-more">Read More <i class="fas fa-arrow-right"></i></a>
  </div>
</article>

</section>

  <script src="../js/loader.js"></script>
</body>

</html>